extends ../templates/default
block content
    if user.nombre == 'adm' && user.email == 'adm@gmail.com'
       include adm
        
     else 
      include user
     figure(class="col-md-6  col-md-offset-4")
        img(src=".././images/log2.jpg", alt="SIADCON", title="SIADCON")